.header {
  &__toolbar {
    --opacity: 0.5;

    &--logo {
      margin-left: 1.5rem;
      max-width: 2rem;
    }
  }

  &--icon {
    &__star {
      font-size: 2rem !important;
    }

    &__search {
      font-size: 1.8rem !important;
    }
  }
}
