<ion-header class="header" translucent="true">
  <ion-toolbar class="header__toolbar">
    <ion-buttons slot="secondary">
      <!-- <ion-button (click)="goToHomePage()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button> -->
      <ion-button (click)="goToMyList()">
        <ion-icon slot="icon-only" name="list-box"></ion-icon>
      </ion-button>
      <ion-button (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentSettingsModal()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img
      class="header__toolbar--logo"
      src="assets/logo-hda.png"
      (click)="goToHomePage()"
    />
  </ion-toolbar>
</ion-header>
