<ion-header class="header" translucent="true">
  <ion-toolbar class="header__toolbar">
    <ion-buttons slot="secondary">
      <ion-button (click)="goToMyList()">
        <ion-icon slot="icon-only" name="list-box"></ion-icon>
      </ion-button>
      <ion-button (click)="openSearchModal()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="openSettingsModal()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header__toolbar--title" (click)="goToHomePage()">HdA</ion-title>
  </ion-toolbar>
</ion-header>
