<ion-grid class="articles-set">
  <ion-row>
    <ion-col>
      <ion-title class="articles-set__title">{{ title }}</ion-title>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="data && data.results">
    <ion-col>
      <ion-list class="articles-set__content">
        <app-avatar-card
          *ngFor="let article of data.results"
          [data]="article"
          [showRemove]="false"
        ></app-avatar-card>
      </ion-list>
      <ion-label
        *ngIf="!data.results || data.results.length == 0"
        class="articles-set__warning"
        >{{ noDataText }}</ion-label
      >
    </ion-col>
  </ion-row>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más historias..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-grid>
