<ion-content
  class="privacy-policy"
  hide-header
  [scrollEvents]="true"
  fullscreen
>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title class="privacy-policy__title"
          >Política de privacidad</ion-title
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <section class="privacy-policy__content">
          <ion-label>Fecha última actualización: 15/01/2020</ion-label>
          <p>
            De conformidad con el Reglamento (UE) 2016/679, del Parlamento
            Europeo y del Consejo, de 27 de abril de 2016, relativo a la
            protección de las personas físicas en lo que respecta al tratamiento
            de datos personales y a la libre circulación de estos datos
            (Reglamento General de Protección de Datos - RGPD), 2PaeApps,
            informa a los usuarios de la aplicación Historia de Alicante (en
            adelante, la Aplicación), acerca del tratamiento de los datos
            personales, que ellos voluntariamente hayan facilitado durante el
            proceso de registro, acceso y utilización del servicio.
          </p>
          <ion-label>1. FINALIDAD DEL TRATAMIENTO DE DATOS.</ion-label>
          <p>
            Para proceder al registro, acceso y posterior uso de la Aplicación,
            el Usuario deberá facilitar -de forma voluntaria-, datos de carácter
            personal (esencialmente, identificativos y de contacto), los cuales
            serán incorporados a soportes automatizados titularidad de 2PaeApps.
            La recogida, almacenamiento, modificación, estructuración y en su
            caso, eliminación, de los datos proporcionados por los Usuarios,
            constituirán operaciones de tratamiento llevadas a cabo por el
            Responsable, con la finalidad de garantizar el correcto
            funcionamiento de la Aplicación, mantener la relación de prestación
            de servicios y/o comercial con el Usuario, y para la gestión,
            administración, información, prestación y mejora del servicio. Los
            datos personales facilitados por el Usuario - especialmente, el
            correo electrónico o e-mail- podrán emplearse también para remitir
            boletines (newsletters), así como comunicaciones comerciales de
            promociones y/o publicidad de la Aplicación, siempre y cuando, el
            Usuario haya prestado previamente su consentimiento expreso para la
            recepción de estas comunicaciones vía electrónica.
          </p>
          <ion-label>2. CONSERVACIÓN DE LOS DATOS PERSONALES.</ion-label>
          <p>
            Los datos personales proporcionados por el Usuario, se conservarán
            en los sistemas y bases de datos del Responsable del Tratamiento,
            mientras aquél continúe haciendo uso de la Aplicación, y siempre que
            no solicite su supresión. Con el objetivo de depurar las posibles
            responsabilidades derivadas del tratamiento, los datos se
            conservarán por un período mínimo de cinco años.
          </p>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
