<ion-card class="avatar-card">
  <ion-item class="avatar-card__item">
    <div class="avatar-card__item--column">
      <ion-thumbnail class="avatar-card__item--thumbnail">
        <ion-img src="../../../../../assets/santa-barbara.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label text-wrap class="avatar-card__item--title">{{ data.title }}</ion-label>
      <ion-button color="secondary" fill="clear" (click)="goToArticle(article)">
        <ion-icon name="book"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
</ion-card>
