@import 'src/theme/partials/mixins';

.avatars-list {
  &__name {
    font-size: 1rem;
    margin: 0;
    padding-left: 1rem;
  }

  &__wrapper {
    @include aligns(flex-start, center, column);
  }

  &__content {
    @include aligns(center, flex-start, row);
    flex-wrap: wrap;
    margin-bottom: 0;

    &.collapsed {
      max-height: 8.3rem;
    }

    &--show {
      margin-top: 0;
      align-self: center;
      font-size: 0.7rem;
      ion-icon {
        margin-left: 0.3rem;
      }
    }

    &.all {
      max-height: 100%;
    }
  }
}
