<ion-grid class="avatars-list">
  <ion-row>
    <ion-col>
      <h2 class="avatars-list__name">{{ title }}</h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="avatars-list__wrapper">
      <ion-list class="avatars-list__content" [ngClass]="getClassContent()">
        <app-avatar-card
          *ngFor="let article of data"
          [data]="article"
        ></app-avatar-card>
      </ion-list>
      <ion-button
        *ngIf="!showAll"
        class="avatars-list__content--show"
        (click)="toggleShowMore()"
        >Ver más<ion-icon name="chevron-down"></ion-icon
      ></ion-button>
      <ion-button
        *ngIf="showAll"
        class="avatars-list__content--show"
        (click)="toggleShowMore()"
        >Ver menos<ion-icon name="chevron-up"></ion-icon
      ></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
