<ion-content class="search" hide-header [scrollEvents]="true" fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="search__bar" class="ion-no-padding">
        <ion-searchbar
          [formControl]="searchControl"
          (ionChange)="onSearchInput()"
          placeholder="¿Qué quieres buscar?"
        ></ion-searchbar>
        <div *ngIf="searching" class="spinner-container ion-no-padding">
          <ion-spinner></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-articles-set
          *ngIf="searchData && searchData.results"
          title="Historias encontradas"
          [data]="searchData"
          noDataText="No hay historias actualmente."
        ></app-articles-set>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
