<ion-content class="search" hide-header [scrollEvents]="true" fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="search__bar" class="ion-no-padding">
        <ion-searchbar
          [formControl]="searchControl"
          placeholder="¿Qué quieres buscar?"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="search__list">
      <ion-col>
        <app-articles-set
          *ngIf="searchData"
          title="Historias encontradas"
          [data]="searchData"
          noDataText="Sin coincidencias"
        ></app-articles-set>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
