@import 'src/theme/partials/mixins';

.search {
  ion-grid {
    @include aligns(center, flex-start, column);
    height: 100vh;
    margin-top: 6rem;
  }

  &__bar {
    display: flex;
    flex-direction: column;
    min-height: 7rem;
  }

  ion-searchbar {
    --background: var(--ion-color-secondary-shade);
    --color: var(--ion-color-primary-shade);
  }

  &__list {
    margin-top: 2rem;
  }
}
