<ion-content class="my-list" hide-header [scrollEvents]="true" fullscreen>
  <ion-grid class="articles-set">
    <ion-row>
      <ion-col>
        <ion-title class="articles-set__title">Mis favoritos</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="articles-set__content">
          <app-avatar-card
            *ngFor="let article of myListData"
            [data]="article"
          ></app-avatar-card>
        </ion-list>
        <ion-label *ngIf="myListData.length == 0" class="articles-set__warning"
          >Sin artículos guardados</ion-label
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
