@import 'src/theme/partials/mixins';

.articles-set {
  @include aligns(center, flex-start, column);
  height: 100vh;
  margin-top: 9rem;

  &__title {
    padding: 0 2.5rem;
    color: var(--ion-color-secondary-shade);
  }

  &__content {
    @include aligns(center, center, row);
    flex-wrap: wrap;
    max-height: 100vh;

    app-avatar-card {
      margin: 0.5rem;
    }
  }

  &__warning {
    font-size: 0.8rem;
    color: var(--ion-color-secondary-shade);
  }
}
