@import 'src/theme/partials/mixins';

.articles-set {
  @include aligns(center, flex-start, column);
  height: 100vh;
  margin-top: 9rem;

  &__title {
    //border-bottom: 0.02rem solid var(--ion-color-secondary-shade);
    padding: 0 2.5rem;
    color: var(--ion-color-secondary-shade);
  }

  &__content {
    @include aligns(center, center, row);
    flex-wrap: wrap;
    max-height: 100vh;

    ion-item {
      margin: 0.8rem;
      max-width: 23vw;

      border: 3px solid red;
    }
  }

  &__warning {
    font-size: 0.8rem;
    color: var(--ion-color-secondary-shade);
  }
}
