<ion-card class="author modal modal--fullscreen">
  <ion-button class="modal__close" (click)="onDismissModal()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <ion-card-header class="modal__header">
    <ion-title class="author__name">{{ completeName }}</ion-title>
  </ion-card-header>
  <ion-card-content class="author__content">
    <ion-avatar class="author__content--image">
      <img [src]="imageUrl" backgroundSize="cover" />
    </ion-avatar>
    <section
      class="author__content--description"
      [innerHtml]="textAsHtml"
      auto-grow
      disabled
      readonly
    ></section>
  </ion-card-content>
</ion-card>
