@import 'src/theme/partials/mixins';

.author {
  @include aligns(center, flex-start, column);

  &__name {
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  &__content {
    @include aligns(center, center, column);

    &--image {
      margin-top: 1rem;
      width: 6rem;
      height: 6rem;
    }

    &--description {
      margin-top: 3rem;
      padding: 1rem;
    }
  }
}
