<ion-card *ngIf="data" class="card faded faded-all text-shadow">
  <img-loader
    class="card__image"
    [src]="imageUrl"
    backgroundSize="cover"
  ></img-loader>

  <div class="card__title">{{ title }}</div>
  <div class="card__tags">
    <app-tags-list [tags]="tags"></app-tags-list>
  </div>
  <ion-buttons class="card__buttons">
    <ion-button
      *ngIf="!isAddedInMyList"
      color="secondary"
      fill="clear"
      (click)="addToMyList()"
    >
      <ion-icon
        class="card__icon card__icon--star"
        name="star-outline"
      ></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="isAddedInMyList"
      color="secondary"
      fill="clear"
      (click)="removeToMyList()"
    >
      <ion-icon
        class="card__icon card__icon--star"
        name="star"
        color="warning"
      ></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="showReadIcon"
      color="secondary"
      fill="solid"
      (click)="goToArticle(data)"
    >
      <ion-icon class="read" slot="start" name="book-outline"></ion-icon>
      Leer
    </ion-button>
    <ion-button
      *ngIf="!isLiked"
      color="secondary"
      fill="clear"
      (click)="addLike()"
    >
      <ion-icon class="card__icon" name="heart-dislike"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="isLiked"
      color="secondary"
      fill="clear"
      (click)="removeLike()"
    >
      <ion-icon class="card__icon" color="danger" name="heart"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-card>
