@import 'src/theme/partials/mixins';

.card {
  position: relative;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 18rem;
  max-height: 18rem;

  &__icon {
    font-size: 1.5rem;

    &--star {
      font-size: 1.8rem;
    }
  }

  &__image {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  &__title,
  &__tags,
  &__buttons {
    position: absolute;
    width: 100%;
    color: var(--ion-color-secondary);
  }

  &__title {
    top: 40%;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1.2rem;
  }

  &__tags {
    top: 55%;
  }

  &__buttons {
    @include aligns(center, center, row);
    top: 80%;

    &--like {
      --color: var(--ion-color-primary-shade);

      &.fav {
        --color: red;
      }
    }

    .read {
      font-size: 1rem;
    }
  }
}
