@import 'src/theme/partials/mixins';

.bibliography {
  @include aligns(center, flex-start, column);

  &__title {
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  &__content {
    @include aligns(center, center, column);
    margin-top: 3rem;
    width: 100%;
    ion-list {
      background-color: var(--ion-color-primary-shade);
      width: 100%;
    }

    &--link {
      --background: var(--ion-color-primary-shade);
      margin-top: 1rem;
      color: var(--ion-color-secondary-shade);
    }
  }
}
