<div *ngIf="textAsHtml" class="text-format" [ngClass]="[getColorClass(), getSizeClass()]">
  <ion-buttons class="text-format__buttons">
    <ion-button
      (click)="presentGalleryPopover($event)"
      [ngClass]="[getColorClass(), getSizeClass()]"
      class="text-format__buttons--camera"
      fill="outline"
      ><ion-icon name="camera"></ion-icon
    ></ion-button>
    <ion-button
      (click)="presentReadModePopover($event)"
      [ngClass]="[getColorClass(), getSizeClass()]"
      class="text-format__buttons--menu"
      fill="outline"
      ><ion-icon name="menu"></ion-icon
    ></ion-button>
  </ion-buttons>

  <ion-textarea
    [ngClass]="[getColorClass(), getSizeClass()]"
    class="text-format__content"
    [autoGrow]="true"
    [innerHTML]="textAsHtml"
    [disabled]="true"
    [readonly]="true"
  ></ion-textarea>
</div>
