<ion-content
  *ngIf="homePageData"
  hide-header
  class="home"
  [scrollEvents]="true"
  fullscreen
>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content
      pullingIcon="chevron-down"
      pullingText="Desliza para abajo"
      refreshingSpinner="circles"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-article-image
          *ngIf="lastArticleData"
          [data]="lastArticleData"
          [title]="lastArticleData.title"
          [image]="getLastArticleImage()"
          [tags]="lastArticleData.tags"
        ></app-article-image>
      </ion-col>
    </ion-row>
    <ion-row class="home--last-five">
      <ion-col>
        <app-avatars-list
          *ngIf="lastFiveArticlesData.length > 0"
          title="Últimas 5 historias"
          [data]="lastFiveArticlesData"
        ></app-avatars-list>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let articlesList of homePageData">
      <ion-col>
        <app-avatars-list
          [title]="articlesList.title"
          [data]="articlesList.articles"
        ></app-avatars-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
