<ion-content *ngIf="homePageData" hide-header class="home" [scrollEvents]="true" fullscreen>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <app-article-image
          [data]="lastArticleData"
          [title]="lastArticleData.title"
          [image]="getLastArticleImage()"
          [tags]="lastArticleData.tags"
        ></app-article-image>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let articlesList of homePageData">
      <ion-col>
        <app-avatars-list
          [title]="articlesList.title"
          [data]="articlesList.articles"
        ></app-avatars-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
