@import 'src/theme/partials/mixins';

$faded-offset: 40px !default;
$faded-blur-radius: 40px !default;
$faded-spread-radius: 16px !default;

$faded-narrow-offset: 20px !default;
$faded-narrow-blur-radius: 20px !default;
$faded-narrow-spread-radius: 10px !default;

$faded-wide-offset: 80px !default;
$faded-wide-blur-radius: 80px !default;
$faded-wide-spread-radius: 28px !default;
ion-button {
  text-transform: none;
  --border-radius: 0;
  --box-shadow: none;
}
.faded {
  position: relative;
  display: inline-block;
  color: var(--ion-background-color);

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate;
  }

  @include faded($faded-offset, $faded-blur-radius, $faded-spread-radius);

  &.faded-narrow {
    @include faded(
      $faded-narrow-offset,
      $faded-narrow-blur-radius,
      $faded-narrow-spread-radius
    );
  }

  &.faded-wide {
    @include faded(
      $faded-wide-offset,
      $faded-wide-blur-radius,
      $faded-wide-spread-radius
    );
  }
}

ion-popover.gallerypopover {
  div.popover-content {
    top: 1rem !important;
  }
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

ion-backdrop {
  background-color: var(--ion-color-primary-shade);
}
