<ion-card class="avatar-card" *ngIf="data">
  <ion-item class="avatar-card__item" (click)="goToArticle(data)">
    <div class="avatar-card__item--column">
      <ion-thumbnail class="avatar-card__item--thumbnail">
        <img-loader [src]="imageUrl" backgroundSize="cover"></img-loader>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap avatar-card__item--title">{{
        data.title
      }}</ion-label>
      <ion-button color="secondary" fill="clear">
        <ion-icon name="book"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
  <ion-button
    size="small"
    fill="outline"
    color="danger"
    class="avatar-card__remove"
    (click)="removeArticle()"
  >
    <ion-icon color="danger" name="trash-outline"></ion-icon>
  </ion-button>
</ion-card>
