@import 'src/theme/partials/mixins';

.avatar-card {
  margin: 0.3rem;

  &__remove {
    width: 95%;
    --border-radius: 0.2rem;
    --border-width: 0.1rem;
  }

  &__item {
    --background: var(--ion-color-primary-shade);
    --background-activated: var(--ion-color-primary-tint);
    --border-color: var(--ion-color-primary-shade);
    --border-radius: 0.3rem;
    --border-width: 0.1rem;
    --padding-start: 0;
    --padding-top: 0;
    --inner-padding-end: 0;
    --inner-padding-top: 0;
    max-width: 6rem;
    max-height: 10.5rem;

    &--column {
      @include aligns(center, center, column);
      padding: 0;
      max-height: 10.5rem;
    }

    &--thumbnail {
      width: 100%;
      height: 4rem;
    }

    &--title {
      padding: 0.7rem 0.2rem;
      font-size: 0.6rem;
      display: flex;
      align-items: center;
      text-align: center;
      width: 100%;
      min-height: 4rem;
      --color: var(--ion-color-secondary);
    }
  }
}
