<ion-card class="image-modal modal modal--fullscreen">
  <ion-button class="modal__close" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <ion-card-header class="modal__header">
    <div class="image-modal__zoom">
      <ion-label>Zoom</ion-label>
      <ion-buttons class="image-modal__zoom-buttons">
        <ion-button (click)="zoom(true)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="zoom(false)">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-slides zoom [options]="sliderOpts" #slider>
      <ion-slide>
        <div class="swiper-zoom-container">
          <img-loader
            [src]="imageUrl"
            backgroundSize="cover"
            useImg
          ></img-loader>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>
