@import 'src/theme/partials/mixins';

.author-avatar {
  margin: 0;

  &__content {
    padding: 0.1rem;
    @include aligns(center, center, row);
    background-color: var(--ion-color-primary-tint);
  }

  &__image {
    width: 2rem;
    height: 2rem;
  }

  &__text {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    color: var(--ion-color-secondary-tint);
  }
}
