<ion-card class="settings modal modal--fullscreen">
  <ion-button class="modal__close" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <ion-card-header class="modal__header">
    <ion-title>Ajustes</ion-title>
  </ion-card-header>
  <ion-card-content>
    <div class="settings__item">
      <ion-label class="settings__item--label">
        <ion-icon
          class="info-icon"
          name="information-circle-outline"
          (click)="presentReadModeInfoPopover($event)"
        ></ion-icon>
        Modo de lectura
        <ion-icon
          *ngIf="!readModeShowed"
          name="arrow-dropdown"
          (click)="toggleReadMode()"
        ></ion-icon>
        <ion-icon
          *ngIf="readModeShowed"
          name="arrow-dropup"
          (click)="toggleReadMode()"
        ></ion-icon>
      </ion-label>
      <app-text-popover
        *ngIf="readModeShowed"
        class="settings__item--options"
        [isCheckedDay]="isCheckedDay"
        [isCheckedNormal]="isCheckedNormal"
      ></app-text-popover>
    </div>

    <div class="settings__item mail">
      <ion-label class="settings__item--label">
        <ion-icon
          class="info-icon"
          name="information-circle-outline"
          (click)="presentEmailInfoPopover($event)"
        ></ion-icon>
        Email
        <ion-icon
          *ngIf="!emailShowed"
          name="arrow-dropdown"
          (click)="toggleEmail()"
        ></ion-icon>
        <ion-icon
          *ngIf="emailShowed"
          name="arrow-dropup"
          (click)="toggleEmail()"
        ></ion-icon>
      </ion-label>
      <div class="settings__item--block" *ngIf="!isMailSent && emailShowed">
        <ion-text class="mail--text"
          >Introduce tu email si quiere que le avisemos cuando un nuevo artículo
          esté disponible.</ion-text
        >
        <ion-input
          type="email"
          inputmode="email"
          class="mail--input"
          placeholder="Email:"
          [(ngModel)]="mailText"
        ></ion-input>
        <ion-button
          color="warning"
          size="small"
          (click)="sendMail()"
          [disabled]="!isEmailValid(mailText) && mailIsBeingSent"
          >Enviar</ion-button
        >
      </div>
      <div class="settings__item--block-row" *ngIf="isMailSent && emailShowed">
        <ion-icon color="success" name="cloud-done" size="large"></ion-icon>
        <ion-label class="mail--text">Email ya enviado.</ion-label>
      </div>
    </div>

    <div class="settings__item">
      <ion-label class="settings__item--label">
        <ion-icon
          class="info-icon"
          name="information-circle-outline"
          (click)="presentContactInfoPopover($event)"
        ></ion-icon>
        Contacto
        <ion-icon
          *ngIf="!contactShowed"
          name="arrow-dropdown"
          (click)="toggleContact()"
        ></ion-icon>
        <ion-icon
          *ngIf="contactShowed"
          name="arrow-dropup"
          (click)="toggleContact()"
        ></ion-icon>
      </ion-label>
      <ion-list class="settings__contact" *ngIf="contactShowed">
        <ion-item class="settings__contact--item"
          ><ion-icon color="danger" name="mail"></ion-icon
          ><ion-label class="settings__contact--label"
            >2paedev@gmail.com</ion-label
          ></ion-item
        >
        <ion-item class="settings__contact--item"
          ><ion-icon color="tertiary" name="logo-twitter"></ion-icon
          ><ion-label class="settings__contact--label"
            >@historiadealicanteapp</ion-label
          ></ion-item
        >
      </ion-list>
    </div>
  </ion-card-content>
</ion-card>
